<!--Signup Page-->
<div class="form" id="signup-form">
    <a href="/">
        <i class="fa-solid fa-arrow-left fa-lg back-icon"></i>
    </a>
    <h2>Sign Up</h2>
    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="New Username" required>
        <input type="password" name="password" placeholder="New Password" required>
        <button type="submit">Sign Up</button>
    </form>
    <p>Already a chef? <a href="/authentication?page=login">Login</a></p>
</div>