/* Profile Container */
.profile-container {
    width: 90%;
    margin: auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Banner */
.banner {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.banner input {
    display: none;
}
.upload-area {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload-area .upload-banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
    font-weight: bold;
    font-family: Arial, sans-serif;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
/* Profile Picture */
.profile-pic {
    text-align: center;
    margin-bottom: 10px;
}
.profile-pic input {
    display: none;
}
.profile-pic .profile-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(2rem, 0.75rem + 4vw, 3rem);
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

/* User Info */
.username {
    font-size: 22px;
}
.bio {
    color: gray;
}

/* Food Tags */
.food-tags {
    margin-top: 10px;
}
.food-tags span{
    background: #cd3a00;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
}

/* delete button */
.userPic{
    position: relative;
}

.bannerPic{
    position: relative;
}

.delete-btn{
    position: absolute;
}

.delete-btn button{
    padding: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-banner{
    top: 5px;
    right: 5px;
}

.delete-profile-pic{
    top: 0;
    right: 0;
}

/* Responsive */
@media (max-width: 600px) {
    .profile-pic img {
        width: 80px;
        height: 80px;
    }
    .tag {
        font-size: 12px;
        padding: 3px 8px;
    }
}